@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(/space-tourism-website-main/src/assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  header {
    #pages-links {
      background: #151923;
    }
  }
  #content {
    h1 {
      span {
        color: #151923;
      }
    }
  }
}
